<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyMtHqCd3y8xHLgnY65tWm3XWLLYQbuVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1079361900637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ke.onthego.onTheGo</string>
	<key>PROJECT_ID</key>
	<string>onthego-delivery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>onthego-delivery-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079361900637:ios:bc45f5c5130bcb13443db4</string>
</dict>
</plist>